<form [formGroup]="personForm" (validSubmit)="submit()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label for="name">Nome</label>
          <input class="form-control" id="name" placeholder="Nome" formControlName="name" appAutofocus>
        </div>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="name">Email</label>
          <input class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input type="text" class="form-control" id="cpf" placeholder="CPF" formControlName="cpf" mask="000.000.000-00" dropSpecialCharacters="true">
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="form-group">
          <label for="name">Data de Nascimento</label>
          <div class="input-group">
            <input id="birthDateStart" type="text" class="form-control" aria-label="Data de Nascimento" name="birthDateStart"
                   [ngModel]="birthDateModel | date: 'dd/MM/yyyy'" (ngModelChange)="birthDateModel=$event" [ngModelOptions]="{standalone: true}" disabled>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary dropdown-toggle start-date" type="button" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false"><i class="oi oi-calendar"></i></button>
              <div class="dropdown-menu" (click)="keepDropDownOpen($event)">
                <div style="width:360px;">
                  <dl-date-time-picker [(ngModel)]="birthDateModel" [ngModelOptions]="{standalone: true}" maxView="year" minView="day" (change)="updateForm()"></dl-date-time-picker>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="birthPlace">Naturalidade</label>
          <input class="form-control" id="birthPlace" placeholder="Naturalidade" formControlName="birthPlace">
        </div>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="nationality">Nacionalidade</label>
          <input class="form-control" id="nationality" placeholder="Nacionalidade" formControlName="nationality">
        </div>
      </div>

      <div class="col-12">
        <div class="form-group">
          <label for="gender1">Gênero</label>
          <div class="row">
            <div class="col-2">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="gender1" name="gender" formControlName="gender" value="MALE">
                <label class="custom-control-label" for="gender1">Masculino</label>
              </div>
            </div>
            <div class="col-2">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="gender2" name="gender" formControlName="gender" value="FEMALE">
                <label class="custom-control-label" for="gender2">Feminino</label>
              </div>
            </div>
            <div class="col">
              <div class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" id="gender3" name="gender" formControlName="gender" [value]="null">
                <label class="custom-control-label" for="gender3">Prefiro não informar</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="personForm.get('registerAt').value">
      <div class="col">
        <strong>Registrado em:</strong> {{ personForm.get('registerAt').value | date: 'dd/MM/yyyy HH:mm' }}
      </div>
    </div>

    <div class="row" *ngIf="personForm.get('modifiedAt').value">
      <div class="col">
        <strong>Modificado em:</strong> {{ personForm.get('modifiedAt').value | date: 'dd/MM/yyyy HH:mm' }}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col">
        <button type="submit" class="btn btn-primary text-white" [disabled]="!personForm.enabled">Salvar</button>
      </div>
    </div>
  </div>

</form>
