<div class="container mt-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="title"><strong>Erriagá</strong></h1>
      <p>O seu sisteminha de RH.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <div class="card mt-5 login-card">
        <div class="card-header">
          <div class="container-fluid">
            <div class="row">
              <div class="col d-flex align-items-center">
                <h6 class="card-title m-0"><i class="fa fa-user-circle-o"></i>&nbsp;<strong>{{ view == 'auth' ? 'Entrar' : 'Registrar-se' }}</strong></h6>
              </div>
              <div class="col d-flex align-items-center justify-content-end">
                <button type="button" (click)="view = 'register'" *ngIf="view == 'auth'" class="btn btn-primary text-white">Registrar-se</button>
                <button type="button" (click)="view = 'auth'" *ngIf="view == 'register'" class="btn btn-primary text-white">Entrar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" *ngIf="view == 'auth'">
          <app-auth-form></app-auth-form>
        </div>
        <div class="card-body" *ngIf="view == 'register'">
          <app-auth-register-form></app-auth-register-form>
        </div>
      </div>
    </div>
  </div>
</div>
