<form (ngSubmit)="search()">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="cod">Cód.</label>
          <input type="number" class="form-control" id="cod" placeholder="Código" [(ngModel)]="filter.id" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" placeholder="Nome" [(ngModel)]="filter.name" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="nome">Email</label>
          <input type="text" class="form-control" id="email" placeholder="Email" [(ngModel)]="filter.email" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input type="number" class="form-control" id="cpf" placeholder="CPF" [(ngModel)]="filter.cpf" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="nome">Nacionalidade</label>
          <input type="text" class="form-control" id="nationality" placeholder="Nacionalidade" [(ngModel)]="filter.nationality" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <label for="nome">Naturalidade</label>
          <input type="text" class="form-control" id="birthPlace" placeholder="Naturalidade" [(ngModel)]="filter.birthPlace" [ngModelOptions]="{standalone: true}">
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="birthDateStart">Data de Nascimento</label>
              <div class="row">
                <div class="col-5">
                  <div class="input-group">
                    <input id="birthDateStart" type="text" class="form-control" aria-label="Data de Nascimento" name="birthDateStart"
                           [ngModel]="filter.birthDateStart | date: 'dd/MM/yyyy'" (ngModelChange)="filter.birthDateStart=$event" [placeholder]="placeHolder" disabled>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary dropdown-toggle start-date" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"><i class="oi oi-calendar"></i></button>
                      <div class="dropdown-menu" (click)="keepDropDownOpen($event)">
                        <div style="width:360px;">
                          <dl-date-time-picker [(ngModel)]="filter.birthDateStart" maxView="year" minView="day"
                                               name="birthDateStart" [ngModelOptions]="{standalone: true}"></dl-date-time-picker>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-2 text-center">
                  até
                </div>
                <div class="col-5">
                  <div class="input-group">
                    <input id="birthDateEnd" type="text" class="form-control" aria-label="Data de Nascimento" name="birthDateEnd"
                           [ngModel]="filter.birthDateEnd | date: 'dd/MM/yyyy'" (ngModelChange)="filter.birthDateEnd=$event" [placeholder]="placeHolder" disabled>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary dropdown-toggle start-date" type="button" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false"><i class="oi oi-calendar"></i></button>
                      <div class="dropdown-menu" (click)="keepDropDownOpen($event)">
                        <div style="width:360px;">
                          <dl-date-time-picker [(ngModel)]="filter.birthDateEnd" maxView="year" minView="day"
                                               name="birthDateStart" [ngModelOptions]="{standalone: true}"></dl-date-time-picker>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex align-items-center justify-content-end">
        <button class="btn btn-primary text-white">Pesquisar</button>
      </div>
    </div>
  </div>
</form>
